<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="./style.css">

</head>
<nav class="navbar navbar-inverse">
<div class ="container-fluid">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>

    </button>
    <a class="navbar-brand">Covid Registration</a>
    <a class="navbar-brand">Employer Registration</a>
    <a class="navbar-brand">Certification</a>

    <a class="navbar-brand">Contact</a>
</div>
</div>
</nav>
{% if all_bookings %}
{% for booking in all_bookings %}
<form>
    <h3> Record Number </h3>
    <label>Code</label>
    <select name="person" id="person">
            <option value = "person">{{ booking.code }}</option>
    </select>
    <label>Record Date</label>
    <select name="person" id="person">
            <option value = "person">{{ booking.recordDate }}</option>
    </select>
    <label>First Name</label>
    <select name="person" id="person">
            <option value = "person">{{ booking.firstName }}</option>
    </select>
    <label>Last Name</label>
    <select name="person" id="person">
            <option value = "person">{{ booking.lastName }}</option>
    </select>    
    <label>Passport Number</label>
    <select name="person" id="person">
            <option value = "person">{{ booking.passportNumber }}</option>
    </select>   
    <label>Employer</label>
    <select name="employer" id="employer">
            <option value = >{{ booking.client }}</option>
    </select>
    <label>Result</label>
    <select name="result" id="result">
        <option value="negative">Negative</option>
        <option value="positive">Postive</option>
      </select>

    <button>Save</button>
</form>
{% endfor %}
{% endif %}
